.idea
.vscode
*.bak
*.iml
.DS_Store
# go.sum tracked for Bazel go_deps
qubership-apihub-agents-backend/qubership-apihub-agents-backend
qubership-apihub-agents-backend/qubership-apihub-agents-backend.exe
qubership-apihub-agents-backend/config.yaml
